.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display:none;
}

.checkbox-slider {
    background-color: #66bb6a;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.checkbox-slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    right: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+ .checkbox-slider {
    background-color: #555;
}

input:checked + .checkbox-slider:before {
    transform: translateX(-26px);
}

.checkbox-slider.round {
    border-radius: 34px;
}

.checkbox-slider.round:before {
    border-radius: 50%;
}





/* general styling */

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(211, 7, 7); */
    width: 150px;
}