.App {
  background: #444;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#drum-machine {
  background: #cbcbcb;
  width: 650px;
  height: 350px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 25px;
  box-shadow: 4px 6px 9px 0px #777;
}

#buttons {
  display: grid;
  grid-template-rows: repeat(3, 75px);
  grid-template-columns: repeat(3, 75px);
  gap: 10px 10px;
}

.drum-pad {
  border: none;
  border-radius: 5%;
  box-shadow: 6px 8px 9px 0px #a9a9a9;
}

.drum-pad:focus {
  outline: none;
}
.drum-pad:active {
  background-color: lightskyblue;
  box-shadow: none;
}

#controls {
  /* background: white; */
  width: 245px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#display {
  background: rgb(150, 150, 150);
  min-width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#power + span {
  margin: auto;
}


@media screen and (max-width: 920px) {
  #drum-machine {
    width: 400px;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}